$primary-text-color: #f7f9f9;
$secundary-text-color: #8b98a5;
$blue-color: #33A1F2;
$border-color: rgb(56, 68, 77);

@mixin user-avatar($size){
    background-color: $blue-color;
    border-radius: 50%;
    
    @if $size == big{
        width: 90px;
        height: 90px;
    } @else {
        width: 40px;
        height: 40px;
    }
}

@mixin asides-container(){
    margin-top: 30px;
    background-color: #1E2732;
    border-radius: 30px;
    padding: 15px 20px 20px 20px;
}

@mixin create-flex($Juscenter){
    display: flex;
    align-items: center;
    @if $Juscenter == true{
        justify-content: center;
    } @else{
        justify-content: initial;
    }
}